<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="variable">
            <h2><span jhiTranslate="aplicacionApp.variable.detail.title">Variable</span> {{variable.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="aplicacionApp.variable.nombre">Nombre</span></dt>
                <dd>
                    <span>{{variable.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="aplicacionApp.variable.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{variable.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="aplicacionApp.variable.campo">Campo</span></dt>
                <dd>
                    <span>{{variable.campo}}</span>
                </dd>
                <dt><span jhiTranslate="aplicacionApp.variable.cuak">Cuak</span></dt>
                <dd>
                    <span>{{variable.cuak}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/variable-front', variable.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
